name: Run polymake testsuite

on:
  push:
    branches:
      - master
      - testing/**
    tags: '*'
  pull_request:
  workflow_dispatch:

concurrency:
  # group by workflow and ref; the last slightly strange component ensures that for pull
  # requests, we limit to 1 concurrent job, but for the master branch we don't
  group: ${{ github.workflow }}-${{ github.ref }}-${{ github.ref != 'refs/heads/master' || github.run_number }}
  # Cancel intermediate builds, but only if it is a pull request build.
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  test-polymake:
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.julia-version == 'nightly' }}
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      JULIA_PKG_USE_CLI_GIT: ""
      JULIA_PKG_SERVER_REGISTRY_PREFERENCE: "eager"
    strategy:
      matrix:
        os: [ubuntu-latest, macOS-latest]
        julia-version: ['~1.10.0-0', '~1.12.0-0', '1.13-nightly', 'nightly']

      fail-fast: false

    steps:
      - uses: actions/checkout@v4
      - name: Cache artifacts
        uses: actions/cache@v3
        env:
          cache-name: cache-artifacts
        with:
          path: |
            ~/.julia/artifacts
            !~/.julia/artifacts/Overrides.toml
          key: ${{ runner.os }}-test-${{ env.cache-name }}-${{ hashFiles('**/Project.toml') }}
          restore-keys: |
            ${{ runner.os }}-test-${{ env.cache-name }}-
            ${{ runner.os }}-test-
            ${{ runner.os }}-
      - name: "Set up Julia"
        uses: julia-actions/setup-julia@v2
        with:
          version: ${{ matrix.julia-version }}
          arch: ${{ runner.arch }}
      - name: "Build and set override"
        run: |
          julia --project=test/project test-prepare.jl --override --build --ignore-compat
      - name: "Test polymake"
        env:
           TERM: linux
        run: julia --project=test/project -e 'using libpolymake_julia_jll;
                                              using libpolymake_julia_jll.polymake_jll;
                                              using polymake_jll.Perl_jll;
                                              perl() do perl
                                                polymake() do polymake
                                                  run(`$perl $polymake --iscript test/run_testcases --emacs-style`);
                                                end
                                              end'
